<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Faculty Attendance report</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/vendors/bootstrap/css/bootstrap.css}"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/full-width-pics.css}"   rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/vendors/font-awesome.css}"  href="../../css/vendors/font-awesome.css">
    <link rel="stylesheet" th:href="@{/css/vendors/vendor.bundle.addons.css}"  href="../../css//vendors/vendor.bundle.addons.css">
    <link rel="stylesheet" th:href="@{/css/vendors/vendor.bundle.base.css}"  href="../../css/vendors/vendor.bundle.base.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"  href="../../css/style.css">
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="../../css/main.css">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.7.2/css/all.css}"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head >

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">TM check Attendance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/attendance}">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header - set the background image for the header in the line below -->
<header>
    <!--<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">-->
</header>

<!-- Content section -->
<div th:fragment="content">
    <div class=" grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">See Student Attendance </h4>
                <form class="forms-sample" th:action="@{/attendance/view}"  method="post" >
                    <div class="form-group" >
                        <label
                                for="duration"><span th:text="#{event.form.duration}">Duration</span></label>
                        <select id="duration" name="duration" class="form-control" required="required" >
                            <option value="">Select Duration</option>
                            <option th:each="dur: ${durations}"
                                    th:value="${dur.id}"
                                    th:text="${dur.name}">

                            </option>
                        </select>
                    </div>
                    <div class="form-group" >
                        <label
                                for="student"><span th:text="#{attendance.student}">Student</span></label>
                        <select id="student" class="form-control" name="student" required="required">
                            <option value="">Select Student</option>
                            <!--<option th:each="stu: ${students}"
                                    th:value="${stu.id}"
                                    th:text="${stu.firstName+ ' '+ stu.lastName}">

                            </option>-->
                        </select>

                    </div>
                    <button type="submit" class="btn btn-success mr-2" th:value="#{form.button.view}">View</button>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${attendance !=null}">
        <div th:replace="attendance/fragments/singleStudentAttendance :: singleStudentAttendance"></div>
    </div>
    <div th:if="${attendances !=null}">
        <div th:replace="attendance/fragments/studentsAttendance :: studentAttendance"></div>
    </div>
</div>
</body>
<div layout:fragment="footer-script">
    <script th:inline="javascript">
        /*<![CDATA[*/


        $('#duration').change(function () {
            console.log("this is a change function");
            // console.log(contextRoot);

            let block=$('#duration').val();
            console.log("this is duration value "+ block);
            let data = { 'block': block };
            console.log(data);

            $.ajax({
                type:'POST',
                url:'/attendance/getStudents?block='+block,
                dataType:'json',
                success: function (data) {
                    let student=$('#student');
                    student.empty();
                    student.append('<option value="">Select a student</option>>');
                    student.append('<option value="0">ALL</option>>');
                    $.each(data,function (i,stu) {
                        student.append('<option value="'+stu.id+'">'+ stu.firstName+' '+ stu.lastName +'</option>');
                    })
                }

            });


        });


        /*]]>*/
    </script>
</div>
</html>