<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>index</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/vendors/bootstrap/css/bootstrap.css}"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/full-width-pics.css}"   rel="stylesheet">
</head >

<body background="./images/admin.jpg">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">TM check Attendance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/event/add}">Event
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/event/uploadFile}">UploadFile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/attendance/getByEntry}">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tm/retreatCreate}">TM Check/Retreat Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header - set the background image for the header in the line below -->
<header >
    <!--<img class="img-fluid d-block mx-auto" th:src="@{/images/mum-logo2.jpeg}" alt="image">-->
</header>

<!-- Content section -->
<!--<section class="py-5">-->
    <!--<div class="container">-->
        <!--<h1>Section Heading</h1>-->
        <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>-->
    <!--</div>-->
<!--</section>-->

<!-- Image Section - set the background image for the header in the line below -->
<!--<section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">-->
    <!--&lt;!&ndash; Put anything you want here! There is just a spacer below for demo purposes! &ndash;&gt;-->
    <!--<div style="height: 200px;"></div>-->
<!--</section>-->

<!-- Content section -->
<!--<section class="py-5">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash;<h1>Section Heading</h1>&ndash;&gt;-->
        <!--<p class="lead">Welcome to TM checking</p>-->

    <!--</div>-->
<!--</section>-->

<!-- Footer -->
<!--<footer class="py-5 bg-dark">-->
    <!--<div class="container">-->
        <!--<p class="m-0 text-center text-white">Copyright &copy; TmChecking.com 2019</p>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</footer>-->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
