<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Student Attendance</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/vendors/bootstrap/css/bootstrap.css}"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/full-width-pics.css}"   rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/vendors/font-awesome.css}"  href="../../css/vendors/font-awesome.css">
    <link rel="stylesheet" th:href="@{/css/vendors/vendor.bundle.addons.css}"  href="../../css//vendors/vendor.bundle.addons.css">
    <link rel="stylesheet" th:href="@{/css/vendors/vendor.bundle.base.css}"  href="../../css/vendors/vendor.bundle.base.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"  href="../../css/style.css">
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="../../css/main.css">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.7.2/css/all.css}"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head >

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">TM check Attendance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/event/add}">Event
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/event/uploadFile}">UploadFile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/attendance/getByEntry}">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header - set the background image for the header in the line below -->
<header>
    <!--<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">-->
</header>

<!-- Content section -->
<div th:fragment="content">
    <div class=" grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">See Student Attendance </h4>
                <form class="forms-sample" th:action="@{/attendance/getByEntry}"  method="post" >
                    <div class="form-group" >
                        <label
                                for="duration"><span th:text="#{event.form.entry}">Entry</span></label>
                        <select id="duration" name="entry" class="form-control" required="required" >
                            <option value="">Select Entry</option>
                            <option th:each="entry: ${entries}"
                                    th:value="${entry.key}"
                                    th:text="${entry.key}">

                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success mr-2" th:value="#{form.button.view}">View</button>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${attendances !=null}">
        <div th:replace="attendance/fragments/attendanceByEntry :: attendanceByEntry"></div>
    </div>
</div>
<!-- Image Section - set the background image for the header in the line below -->
<section>
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
</section>



<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; TmChecking.com 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
